kind: Deployment
apiVersion: apps/v1
metadata:
  name: mysql-deployment
  namespace: mysql
  labels:
    app: mysql

spec:
  replicas: 2
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      name: mysql-pod
      labels:
        app: mysql
    spec:
      containers:
      - name: mysql-cont
        image: mysql:latest
        ports:
        - containerPort: 3306
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: "root"
        - name: MYSQL_ALLOW_EMPTY_PASSWORD
          value: "payal"
        - name: MYSQL_RANDOM_ROOT_PASSWORD
          value: "payal@123"


